$divider: 1px solid rgba(0, 0, 0, 0.12);




$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$font-size-xlg: 26px;
$font-size-lg: 20px;
$font-size-md: 16px;
$font-size-sm: 12px;


$font-weight-bold : 500;

$app-bar-height: 64px;
$footer-height: 40px;
