@import '../../assets/_variables.scss';
@import '../../assets/_commonClasses.scss';


.form {
  // width: 80%;
  border-radius: $border-raduis-sm;
  margin: $spacing-lg auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  .verticalDivider {
    margin: $spacing-xxl;
    width: 2px;
    background-color: $color-border-color;
    display: block;
  }

  .leftSide {
    padding: $spacing-lg;
  }
  .rightSide {
    padding: $spacing-lg;
  }
}
.sectionTitle {
  padding: $spacing-sm 0;
  border-bottom: $border-divider;
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  margin-bottom:$spacing-lg;
  span.subtext{
    font-weight: $font-weight-normal;
    color: $color-placeholder-grey;
    font-size: $font-size-md;
  }
  &.Active{
    color: $color-pallette-blue;
  }
}
