@import '../../assets/_variables.scss';
@import '../../assets/_commonClasses.scss';

.form {
  overflow-x: hidden;
  overflow-y: auto;
  padding: $spacing-lg;
}
.sectionTitle {
  padding: $spacing-sm 0;
  border-bottom: $border-divider;
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  margin-bottom: $spacing-lg;
  text-align: center;
  color: $color1;
}

.socialmediaLogin {
  padding: 16px 0;
  a {
    border: $border-divider;

    .fa {
      font-size: $font-size-xl;
      text-align: center;
      text-decoration: none;
      margin: 20px;
    }
    &.fa-facebook {
      background: white;
      color: #3b5998;
      margin-top: 12px;
      padding: 20px;
      img{
        margin-bottom: -4px;
      }
      span.text{
        margin-left:4px;
      }
    }
    &.fa-google {
      background: white;
      color: #dd4b39;
      padding: 20px;
      img{
        margin-bottom: -4px;
      }
      span.text{
        margin-left:4px;
      }
    }
  }
}
