@import '../../assets/_variables.scss';
@import '../../assets/_commonClasses.scss';

.sidenav-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  top: $app-bar-height;
  bottom: 0;
  right: 0;
  pointer-events: all;
  left: $width-side-nav;
}
