@import '../../assets/_variables.scss';

.profileImg {
  height: 150px;
  margin-bottom:4px;
  border-radius: 50%;
}

.starRating {
  width: 150px;
  margin-bottom:4px;
}

// you were here trying to fig out how to align the image in the middle
