$border-divider: 1px solid rgba(0, 0, 0, 0.12);
$border-divider-heavy: 1px solid rgba(0, 0, 0, 1);

$border-raduis-sm: 2px;
$border-bottom-input: 1px solid #9e9e9e;
$border-input-focus: 1px solid #4bbdbd;
$width-side-nav: 240px;

$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size-xxl: 32px;
$font-size-xl: 28px;
$font-size-lg: 22px;
$font-size-md: 20px;
$font-size-sm: 16px;
$font-size-xs: 14px;
$font-size-xs: 12px;

$font-weight-normal: 300;
$font-weight-bold: 500;
$font-weight-heavy: 700;

$app-bar-height: 64px;
$footer-height: 22px;

//colors:
$color1: #3e3e3e;
$color-pallette-purple: #622c8c;
$color-pallette-blue: #4bbdbd;
$color-pallette-orange: #e95727;
$color-placeholder-grey:#9e9e9e;
$color-text-primary: $color1;
$color-border-color: rgba(0, 0, 0, 0.12);
$color-hover-blue: rgba(#4bbdbd,0.7);

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 20px;
$spacing-xxl: 24px;

/*
 * SHADOWS
 */
$shadow-smooth: 0 10px 20px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.13);
$shadow-sky: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
$shadow-space: 0 2px 8px 0 rgba(0, 0, 0, 0.34);
$box-shadow-raised: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
// taken from Materialize http://materializecss.com/getting-started.html
// 12. Global
// ==========================================================================

