$border-divider: 1px solid rgba(0, 0, 0, 0.12);
$border-raduis-sm: 2px;
$border-bottom-input: 1px solid #9e9e9e;
$border-input-focus: 1px solid #4bbdbd;


$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size-xxl: 32px;
$font-size-xl: 26px;
$font-size-lg: 20px;
$font-size-md: 16px;
$font-size-sm: 12px;
$font-size-xs: 12px;
$font-size-xs: 10px;

$font-weight-normal: 300;
$font-weight-bold: 500;
$font-weight-heavy: 700;

$app-bar-height: 64px;
$footer-height: 22px;

//colors:
$color-pallette-purple: #622c8c;
$color-pallette-blue: #4bbdbd;
$color-pallette-orange: #e95727;
$color-placeholder-grey:#9e9e9e;
$color-text-primary: #484848;
$color-border-color: rgba(0, 0, 0, 0.12);

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 20px;
$spacing-xxl: 24px;

/*
 * SHADOWS
 */
$shadow-sky: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
$shadow-space: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
$box-shadow-raised: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
// taken from Materialize http://materializecss.com/getting-started.html
// 12. Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$extra-large-and-up: 'only screen and (min-width : #{$large-screen-up})'
  !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})'
  !default;
