// @import '../../assets/_variables.scss';
// @import '../../assets/_commonClasses.scss';



// a {
//   text-decoration: none;
// }

// .bdb-input {
//   font-size: $font-size-lg !important;
//   line-height: $font-size-lg !important;
//   height: $font-size-lg !important;
//   padding: $spacing-sm 0 !important;
// }

#cover-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  animation: fadeIn;
}

#app-flex-wrapper{
  // min-height: 100vh;
  background-color: white;
  // min-width: 300px;
}
