@import '../../assets/styles/_variables.scss';
.contentWrapper {
  height: calc(100vh - #{$app-bar-height} - #{$footer-height});
  overflow-y: auto;
  background: white;


  .__introImage{
    background-image: url("../../assets/images/main.png");
    background-repeat: repeat;
    height: 100px;
    text-align: center;
  }
  .__content {
    padding: 0 40px 40px 40px;
  }
}
