@import '../../assets/styles/_variables.scss';

.header-wrapper {
  background-color: white;
  border-bottom: $divider;
  a{
    color:#622c8c;
    &.brand-logo{
      margin-left: 20px;
    }
  }


}
