@import '../../assets/_variables.scss';
@import '../../assets/_commonClasses.scss';

.__introImage {
  background-image: url('../../assets/images/main.png');
  background-repeat: repeat;
  height: 100px;
  text-align: center;
}


p {
  text-align: center;
  background: black;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 4px double rgba(white, 0.25);
  border-width: 4px 0;
  padding: 30px;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  span {
    color: #e95727;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  }
}
