@import '../../assets/_variables.scss';
@import '../../assets/_commonClasses.scss';

.__introImage {
  background-image: url('../../assets/images/main.png');
  background-repeat: repeat;
  height: 100px;
  text-align: center;
}
